
body{
    background-color: #FFFF;
}
.container{
    width: 1170px;
    /* margin: 0 auto; */
}
.header .navbar .menu{
    float: right;
    margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.header .navbar .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .navbar .menu ul li{
    display: inline-block;
    margin: 0 25px;
    width: 100px;
    height: 30px;
    text-align: center;
   
}
.header .navbar  ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    width: 500px;
     height: 200px;

}
.header .navbar  ul li a:hover{
   background-color: rgb(252, 203, 150); 
   color: brown;
     border-radius: 100px; 
}
.separation{
    clear: both;
}
.header .home
{
   
    display: flex;
    margin: 20px;
     width: 100%; 
}
.home .paragraphe{
  margin-top: 200px;
  margin-left: 40px;
}
.image-ronde-bg{
  background-size: contain;
 background-position: 50% 50%;
 background-image: url(../img/logo.jpg); 
 display: flex;
 margin-left: 20%;
 width: 300px ;
 height: 300px;
 border: none;
  -moz-border-raduis: 15px;
 -webkit-border-raduis:85px;
 border-radius: 85px; 
 
}
 /* .header .home h1{
  color: rgb(252, 203, 150);
  
}  */
.header .home h2{
  font-family: 'Droid serif',sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  color: rgb(141, 86, 27);
  margin-left: 500px;
  /* margin-top: 200px; */
  
}
.footer{
  background-color:rgb(141, 86, 27) ;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100px;
}
.footer p{
  text-align: center;
  margin-top: 50px;
}
.contacter{
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-align: center;
  width: 100%;
 
}
.skills{
  font-family: 'Droid serif',sans-serif;
  font-size: 60px;
  font-weight: 100px;
  font-style: italic;
  color: black
}
.border{
  border-bottom: solid red 2px;
  margin-left: 40%;
  margin-right: 40%;
}
.end{
  background-color:rgb(252, 203, 150);
}
.message{
  display: grid;
  grid-template-columns: 5fr 5fr ;
  gap: 100px;
  
}
.contacter ul{
  list-style: none;
}
.contacter ul li{
  color: rgb(141, 86, 27);
  font-size: 20px;
  font-weight: 50px;
  font-style: italic;
}
.projet1 {
  color: rgb(141, 86, 27);
  font-size: 20px;
  font-weight: 50px;
  font-style: italic;
}
#cordonne ul li{
color: black;
}
button{
  border-radius: 25px;
  width: 150px;
  height: 50px;
  background-color: rgb(141, 86, 27);
  color: #FFFF;
  border: none;
  margin-left: 50px;
}
/* input[type=text] {
  border: 2px solid rgb(252, 203, 150) ;
  border-radius: 10px;
} */
input[type=text], input[type=email] {
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 22px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input:hover {
  border: 1px solid #FFFF;
  border-radius: 5px;
}
button:hover {
  background-color: brown;
  color: white;
}
textarea {
  width: 200px;
  height: 50px;
  padding: 12px 20px;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  resize: none;
}